.add-ask{
    width: 50%;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    border-radius: 5px;
}

.add-ask textarea{
    resize: none;
    outline: none;
    padding: 10px;
    font-size: 8pt;
    width: 95%;
    border: none;
    border-radius: 5px;
    border: solid 0.5px #00000020;
}

.add-ask-buttons{
    width: 100%;
    padding-top: 5px;
    padding-right: 5px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.add-ask-buttons-container{
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.add-ask-image::-webkit-file-upload-button{
    visibility: hidden;
}

label {
    cursor: pointer;
    margin-right: 20px;
}

.add-ask-submit{
    color: #ffffff;
    font-size: 8pt;
    background-color: #93C82F;
    padding: 8px;
    outline: none;
    width: 15%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-ask-submit span{
    margin-right: 10px;
    font-size: 23pt;
    color: #00000065;
}

@media only screen and (max-width: 1240px){
    
}

@media only screen and (max-width: 930px){
   
}

@media only screen and (max-width: 730px){
    .add-modal-content{
        width: 100%;
        height: 25%;
    }
    
    .modal-content{
        width: 100%;
        left: 0;
    }

    .add-modal-buttons{
        padding-left: 0;
        padding-right: 10px;
    }

    .add-modal-buttons-container{
        width: 100%;
    }

    label{
        padding-right: 15px;
    }

    @-webkit-keyframes animateleft{
        from{
            left: -80%;
            opacity: 0;
        }
        to{
            left: 0;
            opacity: 1;
        }
    }
    
    @keyframes animateleft{
        from{
            left: -80%;
            opacity: 0;
        }
        to{
            left: 0;
            opacity: 1;
        }
    }

    @-webkit-keyframes animatetop{
        from{
            top: -300px;
            opacity: 0;
        }
        to{
            top: 30%;
            opacity: 1;
        }
    }
    
    @keyframes animatetop{
        from{
            top: 300px;
            opacity: 0;
        }
        to{
            top: 30%;
            opacity: 1;
        }
    }
}