.add-ask{
    width: 60%;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    border-radius: 5px;
}

.add-ask textarea{
    resize: none;
    outline: none;
    padding: 10px;
    font-size: 8pt;
    width: 100%;
    border: none;
    border-radius: 5px;
    border: solid 0.5px #00000020;
}

.add-ask-buttons{
    width: 100%;
    padding-top: 10px;
    padding-right: 5px;
    display: flex;
    justify-content: right;
    align-items: end;
}

.add-ask-buttons-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.add-ask-buttons-container label{
    padding-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}

.material-symbols-outlined{
    color: rgba(0, 0, 0, 0.478);
    padding-top: 5px;
    transition: 0.2s;
}

.material-symbols-outlined:hover{
    color: rgba(0, 0, 0, 0.616);
}

.add-ask-image{
  display: none;
}

.add-ask-submit{
    color: #ffffff;
    font-size: 8pt;
    background-color: #93C82F;
    padding: 8px;
    outline: none;
    width: 15%;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.imageList-list{
    background-color: #f5f5f5;
    list-style-type: none;
    font-size: 10px;
    padding: 6px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageList-list span{
    margin-left: 5px;
    transition: 0.2s;
}

.add-ask-submit span{
    margin-right: 10px;
    font-size: 23pt;
    color: #00000065;
}

@media only screen and (max-width: 1240px){
    
}

@media only screen and (max-width: 930px){
   
}

@media only screen and (max-width: 730px){
    .add-modal-content{
        width: 100%;
        height: 25%;
    }
    
    .modal-content{
        width: 100%;
        left: 0;
    }

    .add-modal-buttons{
        padding-left: 0;
        padding-right: 10px;
    }

    .add-modal-buttons-container{
        width: 100%;
    }

    label{
        padding-right: 15px;
    }

    @-webkit-keyframes animateleft{
        from{
            left: -80%;
            opacity: 0;
        }
        to{
            left: 0;
            opacity: 1;
        }
    }
    
    @keyframes animateleft{
        from{
            left: -80%;
            opacity: 0;
        }
        to{
            left: 0;
            opacity: 1;
        }
    }
}