@import url('http://fonts.cdnfonts.com/css/centrale-sans-regular');
@import url(https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,300,regular,500,700,900);
*{
    box-sizing: border-box;
    font-family: "Centrale Sans", "Noto Sans JP";
    color: #ffffff;
}

body{
    background-image: linear-gradient(125deg,#081026 0,#003478 60%,#0066a1 100%);    
    overflow: hidden;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    margin-top: -9px;
    height: 52px;
}

.header-main{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.knowbi h2{
    margin-top: 0;
    font-size: 14pt;
    font-weight: 400;
    margin-left: 10px;
}

.dropdown{
    position: relative;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 8px;
}

.dropdown-button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown-button img{
    max-width: 22px;
}

.dropdown-button p{
    text-align: center;
    font-size: 12px;
    margin-left: 10px;
}

.dropdown-arrow{
    width: 20px;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #336799;
    min-width: 100%;
    z-index: 1;
}

.dropdown-content:hover{
    background-color: #336799;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown:hover .dropdown-button{
    background-color: #336799;
}

.dropdown-content a{
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 11px;
}

.dropdown-exit{
    border-top: dashed 0.3px #ffffff63;
}

section{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.body-center-content{
    margin-bottom: 80%
}

.body-filter{
    width: 550px;
}

.body-content{
    position: fixed;
    width: 550px;
    margin-top: 10px;
}

.body-items{
    display: grid;
    grid-template-columns: 40% 40% 40%;
    grid-template-rows: auto;
    margin: 0;
    margin-top: 30px;
    padding: 0;
}

.body-field{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.material-icons{
    border-bottom: solid 1px #ffffff77;
    padding-bottom: 5px;
    margin-top: 3px;
    color: #ffffff77;
    transition: 0.5s;
}

.body-searh{
    background-color: transparent;
    width: 100%;
    outline: none;
    border: none;
    border-bottom: solid 1px #ffffff77;
    font-size: 11px;
    padding: 5px;
    transition: 0.5s;
}

.body-searh:focus{
    border-bottom: solid 1px #ffffff;
}

.body-modules{
    font-size: 11px;
    text-align: left;
    margin-top: 22px;
    padding-bottom: 5px;
    border-bottom: 3px solid #ffffffb4;
    width: 60px;
}

[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    height: 8px;
    width: 8px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgEAQAAACJ4248AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAAAGAAAABgAPBrQs8AAAAHdElNRQfmCB4OMDUPFOaIAAABNElEQVRYw73XsY6CQBCA4c29FyVvIZ2GJVqZ0PCiFBQkSkJCoYnWzm/h3Zk7Fs+FmZua8H9LNrvBIUmC1DUcDshq5YwHyTI4HpG6RpLEQdPwPSJQFGZxiuLR+JqmcTAM/BgbxDgOMAwOyXNGo4sIxwHJ888H9vsgQna7xXHZbOB2G7+/qn4p9RFvxy0Q0XFNxOy4BmJxfAlCLT4HoR6PQZjF30GYx5+rLMsgInjClaVq/PWXMF55HCI+/hEvuF6dEwnRHJeL7eonN1zcYTUvjvfBDRfcmN7/08qryvIq/zP+/DpGiJhDRh2BrNexJ9wkgu3WPK6GWBJfjNCIz0ZoxqMRFvG3EY9/NdsrdfIqlyxz0PeW8deIvnfQttbxaUTbOiRNoevgdFK/REIIvIfzGboOSdM78mymVnz/JxoAAAAldEVYdGRhdGU6Y3JlYXRlADIwMjItMDgtMzBUMTQ6NDg6NTMrMDA6MDD/R0UcAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDIyLTA4LTMwVDE0OjQ4OjUzKzAwOjAwjhr9oAAAACh0RVh0ZGF0ZTp0aW1lc3RhbXAAMjAyMi0wOC0zMFQxNDo0ODo1MyswMDowMNkP3H8AAAAASUVORK5CYII=);
    background-size: 8px 8px;
    cursor: pointer;
  }

.material-symbols-outlined{
    margin-bottom: 7px;
    border-bottom: solid 1px #ffffff;
    padding: 3px;
    border-bottom: none;
}

.department-item{
    list-style-type: none;
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}

.body-item{
    text-decoration: none;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body-item p{
    margin-left: 15px;
}

.body-items-icons{
    width: 33px;
}

footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    margin-top: 3vh;
    position: absolute;
    bottom: -2px;
}

footer p{
    font-size: 10px;
    color: #a6a6a6;
    padding-right: 10px;
    font-weight: 300;
}

.policy{
    display: flex;
    align-items: center;
}

.policy a{
    font-size: 9.5px;
    color: #ffffff;
    text-decoration: none;
}

.date{
    display: flex;
    justify-content: space-evenly;
}

@media only screen and (max-width: 1024px){
    .body-items-icons{
        width: 30px;
    }    

    .body-item{
        margin-right: 30px;
    }
}