@import url('http://fonts.cdnfonts.com/css/centrale-sans-regular');
@import url(https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,300,regular,500,700,900);

*{
    box-sizing: border-box;
    font-family: "Centrale Sans", "Noto Sans JP";
    margin: 0;
    padding: 0;
}

html{
    overflow: hidden;
}

body{
    height: 100vh;
}

.answer-modal-body{
    display: flex;
    padding: 20px 0;
    flex-direction: column;
    height: 100vh;
}

.answer-body-recently{
    font-size: 10px;
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.272);
}

.answers-align{
    display: flex;
    flex-direction: column;
    height: 80%;
}

.answers-align{
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.answers-align::-webkit-scrollbar{
    width: 5px;
}

.answers-align::-webkit-scrollbar-track{
    background-color: #f5f5f5;
}

.answers-align::-webkit-scrollbar-thumb{
    background-color: #00000019;
}

.answers-header-content{
    display: flex;
    cursor: pointer;
    margin-bottom: 20px;
}

.answers-header-content span{
    color: #00000090;
}

.answers-body-content{
    width: 70%;
}

.answers-body-content h4{
    margin-top: 5px;
    font-size: 8pt;
    width: 100%;
}

.answers-body-content p:nth-child(3){
    color: rgba(0, 0, 0, 0.437);
    font-size: 6pt;
}

.answers-body-content a{
    padding-top: 5px;
    padding-right: 10px;
    font-size: 8pt;
    text-decoration: none;
    color: #336799;
    cursor: pointer;
}

.add-answer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
    margin-top: 10px;
}

.add-answer textarea{
    resize: none;
    outline: none;
    padding: 10px;
    font-size: 8pt;
    width: 70%;
    border: none;
    border: solid 1px #00000015;;
}

.add-answer-buttons{
    width: 20%;
    padding-right: 5px;
    display: flex;
    justify-content: right;
    align-items: end;
}

.add-answer-buttons-container{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

.add-answer-buttons-container label{
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}

label {
    cursor: pointer;
}

.material-symbols-outlined{
    color: rgba(0, 0, 0, 0.272);
    padding-top: 5px;
    transition: 0.2s;
}

.material-symbols-outlined:hover{
    color: rgba(0, 0, 0, 0.616);
}

.add-answer-image{
    display: none;
}

#submitAnswer{
    color: #ffffff;
    font-size: 8pt;
    background-color: #1b6e2a;
    box-shadow: inset 0 1px 0 #1b6e2a,0 1px 0 0 rgba(0,0,0,.6);
    padding: 8px 10px;
    outline: none;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}


.imageList-list-answers{
    background-color: #f5f5f5;
    list-style-type: none;
    font-size: 10px;
    padding: 6px;
    border-radius: 3px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 150px;
    position: fixed;
    bottom: 105px;
    z-index: 20;
}

.img-answer{
    padding: 12px 0px;
    width: 350px;
    max-height: 300px;
    border-radius: 3px;
    cursor: pointer;
}

.imageList-list span{
    margin-left: 5px;
    transition: 0.2s;
}

.add-answers-submit span{
    margin-right: 10px;
    font-size: 23pt;
    color: #00000065;
}

@media only screen and (max-width: 1366px){
    .answer-modal-body{
        height: 89vh;
    }
}