.bg-preloader{
    z-index: 999;
    background-image: linear-gradient(125deg,#081026 0,#003478 60%,#0066a1 100%);    
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-animation: hotPreReloadBG 2s linear;
    animation: hotPreReloadBG 2s linear;
}

@-webkit-keyframes hotPreReloadBG {
    0%{
        opacity: 1;
        visibility: visible;
    }
    100%{
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes hotPreReloadBG {
    0%{
        opacity: 1;
        visibility: visible;
    }
    100%{
        opacity: 0;
        visibility: hidden;
    }
}

.preloader{
    transform: opacity 1s linear;
    border: 5px solid #ffffff;
    border-radius: 50%;
    border-top: 5px solid #f3f3f358;
    transition: opacity 0.1s linear;
    width: 40px;
    height: 40px;
    -webkit-animation: hotPreReload 2s infinite linear;
    animation: hotPreReload 1.5s infinite linear;
}

@-webkit-keyframes hotPreReload {
    0%{
        opacity: 0;
        transform: rotate(0deg);
    }
    100%{
        opacity: 1;
        transform: rotate(360deg);
    }
}

@keyframes hotPreReload {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}