@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);
*{
    box-sizing: border-box;
    font-family: "Inter";
    margin: 0;
    padding: 0;
}

header{
    background-image: linear-gradient(to right,#02091B, #0C38A1);
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: baseline;
    align-items: center;
    position: fixed;
}

section{
    background-color: #00000019;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.header-menu{
    padding: 10px;
}

.header-menu a span{
    color: #ffffff;
}

.header-items{
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding-left: 45px;
    padding-top: 12px;
    font-size: 8pt;
}

.header-items span{
    color: #ffffff;
}

.header-title{
    padding: 10px;
}

.header-items a{
    text-decoration: none;
    color: #ffffff;
}

.header-items span{
    font-size: 10px;
    padding: 10px;
}

.header-asks{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: solid 5px #ffffff;
}

.header-asks p{
    padding: 10px;
}

.header-asks a span{
    font-size: 15px;
    color: #ffffff;
    padding: 0;
}

.material-symbols-outlined{
    color: #ffffff;
    cursor: pointer;
}

.body-content{
    margin-top: 3.7rem;
    width: 99%;
    background-color: #ffffff;
}

.header{
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container{
    width: 30%;
    display: inline-flex;
}

.header-container a span{
    font-size: 12pt;
}

.header h3{
    font-size: 10pt;
    margin-left: 8%;
}

.header-add{
    color: #ffffff;
    font-size: 8pt;
    background-color: #93C82F;
    padding: 8px;
    outline: none;
    width: 5%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5%;
}

.body{
    padding-left: 20px;
    padding-top: 10px;
}

.body p{
    font-size: 8pt;
}

.body-search{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 20px;
}

.body-search input{
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 5px;
    width: 20%;
    background-color: #f5f5f5;
    color: #000;
    font-size: 8pt;
}

.body-asks{
    display: flex;
    flex-direction: column;
}

.ask-header-content{
    display: flex;
    margin-top: 2%;
}

.material-symbols-outlined{
    color: rgba(0, 0, 0, 0.397);
}

.ask-body-content{
    padding-left: 10px;
    width: 20%;
}

.ask-body-content h4{
    font-size: 10pt;
}

.ask-body-content p{
    padding-top: 5px;
}

.ask-body-content p:nth-child(3){
    color: rgba(0, 0, 0, 0.437);
    font-size: 6pt;
}

.ask-body-content a{
    padding-top: 5px;
    font-size: 8pt;
    text-decoration: none;
    color: #336799;
}

@media only screen and (max-width: 1200px){
    .header-add{
        width: 8%;
    }

    .body-search input{
        width: 30%;
    }

    .ask-body-content{
        width: 30%;
    }
}

@media only screen and (max-width: 930px){
    .body-search input{
        width: 35%;
    }

    .header-add{
        width: 10%;
    }
}

@media only screen and (max-width: 820px){
    .body-content{
        margin-top: 3.5rem;
    }
    
    .ask-body-content{
        width: 35%;
    }
}

@media only screen and (max-width: 730px){
    .body-content{
        width: 98%;    
        margin-top: 3.4rem;
    }

    .header-container{
        width: 80%;
    }

    .header-add{
        width: 20%;
    }

    .body-search input{
        width: 95%;
    }

    .ask-header-content{
        margin-top: 8%;
    }

    .ask-body-content{
        width: 80%;
    }
}