@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);
*{
    box-sizing: border-box;
    font-family: "Inter";
}

body{
    overflow: hidden;
}

header{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: flex-start;
}

header div{
    display: flex;
    justify-content: center;
    align-items: center;
}

header a{
    text-decoration: none;
    color: #000000;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 10px;
}

header p{
    font-size: 10pt;
    padding-top: 10px;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

h2{
    color: #000000;
    font-weight: 300;
}

.card-password{
    display: flex;
    flex-direction: column;
}

.card-password-title{
    font-weight: 400;
    padding: 0;
    font-size: 12pt;
    text-align: center;
}

.card-password-content{
    font-size: 8pt;
}

.card-password-input{
    float: left;
    color: #000000;
    outline: none;
    border: 0.4px solid #00000061;
    border-radius: 5px;
    padding: 7px;
    padding-left: 15px;
}

.card-password-submit{
    background-color: #93C82F;
    color: #ffffff;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-top: 25px;
}